main{
	margin:0 auto; /* permet de centrer la page*/
	width: 55%;  
}

header{
	text-align: center;
}
.img {
	text-align: center;
}
nav
{
	float:left;
	width : 150px ;
	border : 1px solid blue ;
	margin-right:5%;

}
section
{
	border : 1px solid blue ;
	width: 35%;
	text-align: center;
	display:inline-block;
}
aside{
	text-align: center;
	width:30%;
	position:relative;
	border : 1px solid blue;
	display:inline-block;
	margin-left:2%;
}

footer{
	text-align: center;
}




